$bgColor: #333;
$color: #fff;
$upper: 'uppercase';
$border: '1px solid #000';
$borderR: '5px';

body {
    .btn {
        background-color: $bgColor;
        color: $color;
        text-transform: $upper;
        border-radius: $borderR;
        border: $border;
        font-size: 1.4rem;
        height: 2rem;
        padding: 0 1.6rem;
    }
}